

/* content container with a max width and automatic horizontal centering */
.container {
	width: 100%;
	max-width: 50%;           /* adjust as needed */
	margin: 0 auto;
	padding: 1rem;
	
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}